/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */

/* @media (min-width: 576px) { ... } */

/* // Medium devices (tablets, 768px and up) */

/* @media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */

/* @media (min-width: 992px) { ... } */

/* // Extra large devices (large desktops, 1200px and up) */

/* @media (min-width: 1200px) { ... } */

/* SIDEBAR */

@media (max-width: 576px) {
    .container-fluid {
        padding-left: 60px;
    }
    .sidebar-header {
        padding: 10px;
    }
    .sidebar-header>img:first-of-type {
        display: none;
    }
    .sidebar-header>img:last-of-type {
        width: 30px;
    }
    .sidebar {
        max-width: 50px;
        min-width: 50px;
    }
    span, hr, .playlist, .add-playlist, .active-selector {
        display: none;
    }
    .bottom-sidebar {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    #download, #profile {
        margin: 0;
    }
    #download {
        padding-left: 3px;
    }
    #profile {
        margin: 10px 0;
    }
    .album-thumbnail {
        flex-direction: column;
    }
    /* PLAYER */
    #bookmark {
        left: 5px;
    }
    .player-left {
        width: 100px;
    }
    /* player-right */
    .player-right {
        padding-left: 5px;
        justify-content: center;
    }
    .player-right .fas {
        font-size: 14px;
    }
    /* CLASSI MEDIA PER VOLUME BAR */
    /* ---DA NON COMMENTARE PER: Volume Bar inalterata */
/*     .volume-bar {
        width: 30%;
    }
    .volume-bar-slider {
        height: 10px;
        width: 10px;
    } */

    /* DA NON COMMENTARE PER: Volume Bar - mobile */
/*     .volume-bar-mobile {
        border-radius: 25px;
        font-size: 15px;
        display: none;
        align-items: flex-end;
        justify-content: center;
        background-color: grey;
    }
    .player-right .fas {
        font-size: 14px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .fa-volume-up:hover .volume-bar-mobile {
        transition: 1s;
        display: flex;
        width: 5px;
        height: 60px;
    }
} */

/* DA NON COMMENTARE PER: Volume Bar Nascosta */
.volume-bar {
    display: none;
}

/* RIGHT PLAYER - Dispositivi Mobile */

@media screen and (max-width: 411px) {
    .player-right {
        justify-content: flex-end;
    }
    .volume-bar {
        width: 30%;
    }
    .volume-bar-slider {
        height: 10px;
        width: 10px;
    }
}

/* MAIN */

@media (max-width: 768px) {
    .album-thumbnail {
        display: flex;
        justify-content: center;
    }
    .album-thumbnail {
        flex-direction: column;
    }
}

/* LOGO */

@media (min-width: 576px) {
    .mobile-logo {
        display: none;
    }
}