/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */

/* @media (min-width: 576px) { ... } */

/* // Medium devices (tablets, 768px and up) */

/* @media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */

/* @media (min-width: 992px) { ... } */

/* // Extra large devices (large desktops, 1200px and up) */

/* @media (min-width: 1200px) { ... } */

/* SIDEBAR */

@media (max-width: 576px) {
    .container-fluid {
        padding-left: 80px;
    }
    .sidebar-header {
        padding: 10px;
    }
    .sidebar-header>img:first-of-type {
        display: none;
    }
    .sidebar-header>img:last-of-type {
        width: 30px;
    }
    .sidebar {
        max-width: 50px;
        min-width: 50px;
    }
    span, hr, .playlist, .add-playlist, .active-selector {
        display: none;
    }
    .bottom-sidebar {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    #download, #profile {
        margin: 0;
    }
    #download {
        padding-left: 3px;
    }
    #profile {

        margin: 10px 0;
    }
}

/* MAIN */

@media (max-width: 576px) {
    .album-thumbnail {
        display: flex;
        justify-content: center;
    }
}

/* LOGO */

@media (min-width: 576px) {
    .mobile-logo {
        display: none;
    }
}