/* CLASSI GENERICHE COLORE */

.background-main {
    background-color: #141922;
}

.background-player {
    background-color: #282828;
}

.font-spotifygrey {
    color: #6C6F74;
}

.active {
    color: white;
}

/* MUSIC PLAYER */

.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-content: center;
    background-color: #282828;
    z-index: 2;
}

/* SIDEBAR */

.sidebar {
    position: fixed;
    max-width: 200px;
    min-width: 200px;
    height: calc(100vh - 90px);
    background-color: black;
    z-index: 2;
}

/* HEADER */

/* contenitore principale */

.header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    width: 100vw;
    position: fixed;
    z-index: 2;
}

.header h6 {
    position: absolute;
    right: 40px;
    top: 15px;
    border: 1px solid white;
    color: white;
    font-weight: normal;
    font-size: 14px;
    padding: 10px;
    border-radius: 25px;
}

.header h6:hover {
    font-size: 16px;
    cursor: pointer;
}

/* SEZIONE LATERALE */

/* logo top */

.sidebar-header {
    width: 100%;
    padding: 20px;
}

.sidebar-header img {
    width: 80%;
}

/* Sezione superiore */

.active-selector {
    position: absolute;
    display: inline-block;
    top: 80px;
    height: 6%;
    width: 2px;
    background-color: #ADFF2F;
}

.sidebar .container-fluid .row {
    flex-wrap: wrap;
}

.top-sidebar ul li {
    text-decoration: none;
}

.top-sidebar .nav-link:hover, .add-playlist:hover span, .playlist ul li:hover, .bottom-sidebar span:hover {
    color: white;
    cursor: pointer;
}

.add-playlist:hover .fa-plus {
    background-color: white;
}

.top-sidebar .flex-column .nav-link img {
    width: 30px;
}

/* Aggiungi Playlist */

.add-playlist span {
    display: inline-block;
}

.add-playlist {
    display: inline-block;
    color: black;
}

.fa-plus {
    font-size: 15px;
    background-color: #6C6F74;
    padding: 10px;
    margin-left: 30px;
    margin-top: 10px;
}

.add-playlist span {
    font-size: 14px;
    display: inline-block;
}

/* Sezione con Overflow */

.playlist {
    height: 40%;
    overflow-y: auto;
}

.playlist ul {
    list-style: none;
    padding-left: 30px;
}

.playlist ul li {
    padding: 5px 0;
    font-size: 14px;
}

/* Sezione Footer Bottom */

.bottom-sidebar {
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    min-height: 100px;
}

hr {
    background-color: #6C6F74;
    width: 80%;
    padding: 0;
}

#download {
    width: 20px;
    margin-left: 30px;
}

#profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 20px;
}

/* MAIN */

.container-fluid {
    padding: 90px 15px 90px 220px;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 1;
}

/* Albums e Playlist */

#main>.row>.col-8 .row h6 {
    color: #6C6F74;
    font-weight: bold;
    text-align: center;
    font-size: 13px
}
#main>.row>.col-8 .row h6:hover {
    cursor: pointer;
    color: white;
}

#main>.row>.col-8 .row>.col-lg-2 {
    padding: 0;
}

.divider {
    width: 40px;
    height: 3px;
    background-color: #ADFF2F;
    margin: auto;
}

.album-thumbnail {
    max-width: 100%;
}