/* CLASSI GENERICHE COLORE */

.background-main {
    background-color: #141922;
}

.background-player {
    background-color: #282828;
}

.font-spotifygrey {
    color: #6C6F74;
}

.active {
    color: white;
}

/* classi debug */

.dbg-main {
    width: 100%;
}

.dbg-header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    width: 100vw;
    position: fixed;
}

.dbg-footer {
    background-color: #282828;
    height: 90px;
    width: 100vw;
    position: sticky;
    bottom: 0;
}

/* SIDEBAR */

.sidebar {
    position: fixed;
    max-width: 200px;
    min-width: 200px;
    height: 100%;
    background-color: black;
}

.sidebar-header {
    width: 100%;
    padding: 20px;
}

.sidebar-header img {
    width: 80%;
}

.sidebar-container {
    width: 100%;
    height: 100vh;
    padding-left: 1rem;
    font-size: 12px;
}

/* .container-fluid .row [class*="col-"] {
    display: flex;
    justify-content: center;
} */

.col-xs-6, .col-md-3, .col-lg-2 {
    display: flex;
    justify-content: center;
}

.sidebar-container>.row>.nav-link {
    display: flex;
    align-items: center;
}

.sidebar-container>.row .col-12 .nav-link {
    padding-left: 0;
}

.sidebar-container>.row>.nav-link:hover {
    color: white;
}

.sidebar-container>.row>.nav-link:hover .add-playlist {
    background-color: white;
}

.nav-item img {
    width: 20px;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
}

.sidebar ul .nav-link:hover {
    color: white;
}

.sidebar h5 {
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-weight: bold;
    color: white;
}

.add-playlist {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #6C6F74;
    font-size: 25px;
    color: black;
    position: relative;
}

.fa-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa-arrow-alt-circle-down {
    font-size: 18px;
    padding-right: 5px;
}

.sidebar-container .row:first-of-type {
    height: 36vh;
    overflow: auto;
    overflow-x: hidden;
}

.sidebar-container .row:last-of-type {
    padding-top: 20px;
}

hr {
    background-color: #6C6F74;
    width: 80%;
    height: 1px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

.profile-column {
    padding-top: 1rem;
}

.sidebar-container .row:last-of-type .profile-column {
    padding-left: 0;
}

.profile-img {
    background-color: gray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    margin-bottom: 10px;
}

.profile-name {
    display: inline-block;
    padding-left: 0.25rem;
}

.user-profile {
    position: fixed;
    bottom: 90px;
    background-color: black;
    max-width: 190px;
    min-width: 190px;
}


/* MAIN CONTAINER */

/* container */

.container {
    height: 100%;
    width: 100vw;
    padding: 20px;
}

.container-fluid {
    width: 100vw;
    padding-right: 15px;
    padding-left: 220px;
    margin-right: auto;
/*     margin-left: 200px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#main {
    padding-top: 90px;
}

/* Albums e Playlist */

.album-thumbnail {
    max-width: 100%;
}

.sidebar .container-fluid .row {
    flex-wrap: wrap;
}